<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-positive">
			<ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear" menu-toggle="">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="bar-dark">
			<div class="title">Cend Liberty</div>
		</ion-header-bar>
		<ion-content padding="false" class="side-menu-left has-header" <="" ion-content="">
			<ion-list>
				<ion-item menu-close="" class="item item-icon-left" href="#/menu/home"> <i class="icon ion-home"></i>Home</ion-item>
				<ion-item menu-close="" class="item item-icon-left" href="#/menu/login"><i class="icon ion-log-in"></i>Login</ion-item>
				<ion-item menu-close="" class="item item-icon-left" href="#/user/form/1"><i class="icon ion-document-text"></i>Form</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>