<ion-view title="Sign In">
    <ion-content padding="15" class="has-header">
        <container-fuild>
            <div class="row" style="margin: 5px; padding: 5px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form ng-submit="">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Email" ng-model="user.username" required autofocus>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In &nbsp;<span  class="glyphicon glyphicon-log-in"></span></button>
                    </form>
                </div>
            </div>
        </container-fuild>
    </ion-content>
</ion-view>