<ion-view title="Payment Request Form">
    <ion-content padding="15" class="has-header">
        <container-fuild>
            <form ng-submit="">
                <div class="list">
                    <a class="item item-divider item-icon-right" layout-fill ng-click="toggle('personal')">
                                Personal details(Policyholder is the owner of policy)
                                <i class="icon ion-plus"></i>
                            </a>
                    <div id="personal_details" ng-show="personal_details" class="item">
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">Policy Number/s</label>
                                <input ng-model="form.policyNumber">
                            </md-input-container>
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">Full Name</label>
                                <input ng-model="form.names" required>
                            </md-input-container>
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">Cessionary(if applicable)</label>
                                <input ng-model="form.cessionery">
                            </md-input-container>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">ID Number</label>
                                    <input ng-model="form.id">
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Tax Number</label>
                                    <input ng-model="form.taxNumber">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Tel (H)</label>
                                    <input ng-model="form.tel_h">
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Tel (W)</label>
                                    <input ng-model="form.tel_w">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Cell</label>
                                    <input ng-model="form.cell">
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Fax</label>
                                    <input ng-model="form.fax">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">Email</label>
                                <input ng-model="form.email" required>
                            </md-input-container>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Physical Address</label>
                                    <textarea ng-model="form.physical_address"></textarea>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">code</label>
                                    <input ng-model="form.physical_address_code">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <md-input-container>
                                    <label class="col-sm-2 control-label">Postal Address</label>
                                    <textarea ng-model="form.postal_address"></textarea>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container>
                                    <label class="col-sm-2 control-label">code</label>
                                    <input ng-model="form.postal_code">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="item item-text-wrap col-sm-2 control-label" style="font-size:10px">
                        <label class="col-sm-2 control-label">FAIS</label><br> This acronynym for Financial Advisory and Intermediary Services
                        (FAIS) - Act 37 of 2002. The purpose of this Act is to consumers and regulates the business of Financial
                        Service Providers, by provding you with enough information to make an informed decison
                    </div>
                </div>
                <hr>
                <div class="list">
                    <div class="item item-text-wrap col-sm-2 control-label" style="font-size:10px">
                        <label class="col-">FAIS</label><br> This acronynym for Financial Advisory and Intermediary Services
                        (FAIS) - Act 37 of 2002. The purpose of this Act is to consumers and regulates the business of Financial
                        Service Providers, by provding you with enough information to make an informed decison
                    </div>
                </div>
                <hr>
                <div class="list">
                    <a class="item item-divider item-icon-right" ng-click="toggle('financial')">
                        <span>Financial adviser details</span>
                        <i class="icon ion-plus"></i>
                    </a>
                    <div id="financial_details" class="item item-text-wrap" " ng-show="financial_details ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="item item-text-wrapper" style="font-size:10px">
                                    <strong>Only to be completed if financial adviser assisted the policyholder/s with the completion of this form.</strong>
                                </div>
                            </div>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Full Names</label>
                                <input ng-model="form.adviser.names ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label>Commission code</label>
                                <input ng-model="form.adviser.comm_code ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label>Email</label>
                                <input ng-model="form.adviser.email ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label>Contact number</label>
                                <input ng-model="form.adviser.contact ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.adviser.signature ">
                                <label>Signature of financial adviser</label>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="list ">
                    <a class="item item-divider item-icon-right " ng-click="toggle( 'advance_surrender') ">
                        <i class="icon ion-plus "></i>
                        <span>Advance/Part surrender</span>
                    </a>
                    <div id="advance_surrender " class="item " ng-show="advance_surrender ">
                        <div class="form-horizontal ">
                            <div layout-gt-xs="row ">
                                <md-radio-group ng-model="form.advance_surrender ">
                                    <md-radio-button value="Advance " class="md-primary ">Advance</md-radio-button>
                                    <md-radio-button value="Part Surrender " class="md-primary ">Part Surrender</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div layout-gt-xs="row ">
                            <div layout="vertical ">
                                I/We
                                <md-input-container flex-gt-xs>
                                    <input ng-model="form.advance_surrender.name ">
                                </md-input-container>
                                (policyholder's full names) choose to make an advance/part surrender against the cash value of the policy in force. I/we
                                fully understand the consequencesof this descision.
                            </div>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.advance_surrender.amount ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Part Surrender</label>
                                <input ng-model="form.advance_surrender.amountMax ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Start Monthly advance repayments of </label>
                                <input ng-model="form.advance_surrender.mothlyRepayment ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class=" control-label ">from</label>
                                <md-datepicker ng-model="form.advance_surrender.monthlyRepaymentDate "></md-datepicker>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">In two payments </label>
                                <input ng-model="form.advance_surrender.twoRepayments ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">from</label>
                                <md-datepicker ng-model="form.advance_surrender.twoRepaymentsDate "></md-datepicker>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Once off debit order of  </label>
                                <input type="text " class="form-control " ng-model="form.advance_surrender.onceOff ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">from</label>
                                <md-datepicker ng-model="form.advance_surrender.onceOffDate "></md-datepicker>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="list ">
                    <a class="item item-divider item-icon-right " ng-click="toggle( 'surrender') ">
                        <i class="icon ion-plus "></i>
                        <span>Surrender</span>
                    </a>
                    <div id="surrender " class="item " ng-show="surrender ">
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.surrender.surrenderer ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.surrender.fromName ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.surrender.toName ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-checkbox ng-model="form.surrender.highGrowthBenefit ">High Growth benefit (only on CAL policies)</md-checkbox>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-checkbox ng-model="form.surrender.pga ">PGA (Stangen policies only)</md-checkbox>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-checkbox ng-model="form.surrender.financial_protector ">Financial Protector</md-checkbox>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-checkbox ng-model="form.surrender.reason ">(a) Customer affordibility/Funds required</md-checkbox>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-checkbox ng-model="form.surrender.reason ">(b) Competition products offer better benefits/pricing</md-checkbox>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-checkbox ng-model="form.surrender.reason ">(c) On advice of financial adivser</md-checkbox>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-checkbox ng-model="form.surrender.reason ">(d) Consolidation of client's portfolio</md-checkbox>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-checkbox ng-model="form.surrender.reason ">(e) Negative service experience</md-checkbox>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-checkbox ng-model="form.surrender.reason ">(f) Product performance</md-checkbox>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-checkbox ng-model="form.surrender.reason ">(g) Moving to Stanlib</md-checkbox>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-checkbox ng-model="form.surrender.reason ">(h) Other</md-checkbox>
                            <md-input-container>
                                <input ng-model="form.surrender.reason ">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="list ">
                    <a class="item item-divider item-icon-right " ng-click="toggle( 'maturity') ">
                        <i class="icon ion-plus "></i>
                        <span>Maturity Options</span>
                    </a>
                    <div id="maturity_option " class="item " ng-show="maturity ">
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.maturity_option.maturer ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.maturity_option.fromName ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.maturity_option.toName ">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="list ">
                    <a class="item item-divider item-icon-right " ng-click="toggle( 'declaration') ">
                        <i class="icon ion-plus "></i>
                        <span>Declaration</span>
                    </a>
                    <div id="declaration " ng-show="declaration ">
                        <div layout-gt-xs="row ">
                            <div class="col-md-6 ">
                                <label> Have you invested in a way new policy in last 4 months?</label>
                            </div>
                            <div class="col-md-6 ">
                                <md-checkbox ng-model="form.declaration.invest ">Yes</md-checkbox>
                                <md-checkbox ng-model="form.declaration.invest ">No</md-checkbox>
                            </div>
                        </div>
                        <div layout-gt-xs="row ">
                            <div class="col-md-6 ">
                                <label>If "No ", do you intend to invest in a new ploicy in the near future?</label>
                            </div>
                            <div class="col-md-6 ">
                                <div class="col-md-6 ">
                                    <md-checkbox ng-model="form.declaration.invest ">Yes</md-checkbox>
                                    <md-checkbox ng-model="form.declaration.invest ">No</md-checkbox>
                                </div>
                            </div>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label>If "Yes ", please specify with which company?</label>
                                <input ng-model="form.declaration.company ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label "> Signed at</label>
                                <input ng-model="form.declaration.signedAt ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label "> on </label>
                                <input ng-model="form.declaration.signedDate ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Signature of policyholder/legally authorised representative/legal gaurdian/cessionary</label>
                                <input ng-model="form.declaration.signature_policyholder1 ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Name and capacity</label>
                                <input ng-model="form.declaration.signature_policyholderName1 ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Signature of policyholder/legally authorised representative/legal gaurdian/cessionary</label>
                                <input ng-model="form.declaration.signature_policyholder2 ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Name and capacity</label>
                                <input ng-model="form.declaration.signature_policyholderName2 ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Signature of policyholder/legally authorised representative/legal gaurdian/cessionary</label>
                                <input ng-model="form.declaration.signature_policyholder3 ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Name and capacity</label>
                                <input ng-model="form.declaration.signature_policyholderName3 ">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="list ">
                    <a class="item item-divider item-icon-right " ng-click="toggle( 'branch_clerk') ">
                        <i class="icon ion-plus "></i>
                        <span>Branch Clerk</span>
                    </a>
                    <div id="branch_clerk " ng-show="branch_clerk ">
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <!--<label>If "Yes ", please specify with which company?</label>-->
                                <input ng-model="form.branch_clerk.name ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <!--<label>If "Yes ", please specify with which company?</label>-->
                                <input ng-model="form.branch_clerk.policyholder ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <!--<label>If "Yes ", please specify with which company?</label>-->
                                <input ng-model="form.branch_clerk.id ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Signed At </label>
                                <input ng-model="form.branch_clerk.signedAt ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label "> on </label>
                                <input ng-model="form.branch_clerk.signedDate ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.branch_clerk.signature ">
                                <label class="col-sm-2 control-label "> Siganture of branch clerk </label>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.branch_clerk.branch ">
                                <label class="col-sm-2 control-label "> Branch </label>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <button class="btn btn-lg btn-primary btn-block " type="submit ">
                    Submit &nbsp;
                    <span  class="glyphicon glyphicon-log-in "></span>
                </button>
            </form>
        </container-fuild>
    </ion-content>
</ion-view>