<ion-view title="Payment Request Form - Page 3">
    <ion-content padding="15" class="has-header">
        <container-fuild>
            <form>
                <div class="list">
                    <a class="item item-divider item-icon-right" ng-click="toggle( 'maturity')">
                        <i class="icon ion-plus"></i>
                        <span> Section 3 - Maturity Options (including part maturity for Medical Lifestyle policies)</span>
                    </a>
                    <div id="maturity_option" class="item" ng-show="maturity">
                        <div layout-gt-xs="row">
                            <div class="item-text-wrap" style="font-size:12px">
                                3.1 I/We
                            </div>
                            <md-input-container flex-gt-xs class="md-block">
                                <input ng-model="form.maturity_option.maturer">
                            </md-input-container>
                            <div class="item-text-wrap" style="font-size:12px;">
                                (policyholder's full names) choose to surrender this policy and fully understand the consequences of this decision.
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <div class="item-text-wrap" style="font-size:12px">
                                3.2 I/We
                            </div>
                            <md-input-container flex-gt-xs class="md-block">
                                <input ng-model="form.maturity_option.fromName">
                            </md-input-container>
                            <div class="item-text-wrap" style="font-size:12px;">
                                (policyholder's full name/s) request to transfer the funds to new/existing policy
                            </div>
                            <md-input-container flex-gt-xs class="md-block">
                                <input ng-model="form.maturity_option.toName">
                            </md-input-container>
                            <div class="item-text-wrap" style="font-size:12px;">
                                (policy number).
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="list">
                    <a class="item item-divider item-icon-right" ng-click="toggle( 'banking_details')">
                        <i class="icon ion-plus"></i>
                        <span>Bank details for payment</span>
                    </a>
                    <div id="banking_details" class="item" ng-show="banking_details">
                        <div layout-gt-xs="row">
                            <div class="col-md-12">
                                <md-input-container flex-gt-xs>
                                    <span style="font-size:12px">Account holder</span>
                                    <input ng-model="form.banking_details.acc_name">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <div class="col-md-6 col-xs-6">
                                <md-input-container flex-gt-xs>
                                    <span style="font-size:12px">Bank</span>
                                    <input ng-model="form.banking_details.bank">
                                </md-input-container>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <md-input-container flex-gt-xs>
                                    <span style="font-size:12px">Branch</span>
                                    <input ng-model="form.banking_details.branch">
                                </md-input-container>
                            </div>
                        </div>
                        <hr>
                        <div layout-gt-xs="row">
                            <div class="col-md-6 col-xs-6">
                                <md-input-container flex-gt-xs>
                                    <span style="font-size:12px">Branch code</span>
                                    <input ng-model="form.banking_details.branch_code">
                                </md-input-container>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <md-input-container flex-gt-xs>
                                    <span style="font-size:12px">Account number</span>
                                    <input ng-model="form.banking_details.acc_number">
                                </md-input-container>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12">
                                <md-input-container flex-gt-xs>
                                    <span style="font-size:12px">Account type</span>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-radio-group ng-model="form.banking_details.acc_type">
                                    <md-radio-button value="Current" class="md-primary">Current</md-radio-button>
                                    <md-radio-button value="Savings"> Savings </md-radio-button>
                                    <md-radio-button value="Transmission">Transmission</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
            </form>
            <ul class="button-bar">
                <a class="button button-full button-positive" href="#/user/form/2">
                    <span class="glyphicon glyphicon-chevron-left"></span> Previous
                </a>
                <a class="button button-full button-positive" href="#/user/form/4">
                    Next
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </ul>
        </container-fuild>
    </ion-content>
</ion-view>