<ion-view title="Payment Request Form - Page 2">
    <ion-content padding="15" class="has-header">
        <container-fuild>
            <form>
                <div class="list">
                    <a class="item item-divider item-icon-right" ng-click="toggle( 'advance_surrender')">
                        <i class="icon ion-plus"></i>
                        <span>Section 1 - Advance/Part surrender</span>
                    </a>
                    <div id="advance_surrender" class="item" ng-show="advance_surrender">
                        <div class="item-text-wrap" style="font-size:10px">
                            <strong>Please contact your financial adviser or our contact centre for a "NCA quote", if the advance is interest braring or for a "What-if-quote" if the advance is non-interest bearing.</strong>
                        </div>
                        <div class="form-horizontal">
                            <div layout-gt-xs="row">
                                <md-radio-group ng-model="form.advance_surrender">
                                    <md-radio-button value="Advance" class="md-primary">Advance</md-radio-button>
                                    <md-radio-button value="Part Surrender" class="md-primary">Part Surrender</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <div class="item-text-wrap" layout="vertical">
                                I/We
                                <md-input-container flex-gt-xs>
                                    <input ng-model="form.advance_surrender.name">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <div class="col-md-12 item-text-wrap" style="font-size:10px;">
                                (policyholder's full names) choose to make an advance/part surrender against the cash value of the policy in force. I/we
                                fully understand the consequencesof this descision.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <md-input-container flex-gt-xs>
                                    <label class="col-sm-2 control-label">Amount Required</label>
                                    <input ng-model="form.advance_surrender.amountRequired">
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <label class="col-sm-2 control-label">OR</label>
                            </div>
                            <div class="col-md-4">
                                <md-input-container flex-gt-xs>
                                    <label class="col-sm-2 control-label">Max. Amount</label>
                                    <input ng-model="form.advance_surrender.amountMax">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">Start Monthly advance repayments of </label>
                                <input ng-model="form.advance_surrender.mothlyRepayment">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class=" control-label">from</label>
                                <md-datepicker ng-model="form.advance_surrender.monthlyRepaymentDate"></md-datepicker>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">In two payments </label>
                                <input ng-model="form.advance_surrender.twoRepayments">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">from</label>
                                <md-datepicker ng-model="form.advance_surrender.twoRepaymentsDate"></md-datepicker>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">Once off debit order of  </label>
                                <input ng-model="form.advance_surrender.onceOff">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">from</label>
                                <md-datepicker ng-model="form.advance_surrender.onceOffDate"></md-datepicker>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="list">
                    <a class="item item-divider item-icon-right" ng-click="toggle( 'surrender')">
                        <i class="icon ion-plus"></i>
                        <span> Section 2 - Surrender</span>
                    </a>
                    <div id="surrender" class="item" ng-show="surrender">
                        <div layout-gt-xs="row">
                            <div class="item-text-wrap" layout="vertical">
                                <span style="font-size:12px"> 2.1 I/We</span>
                                <md-input-container flex-gt-xs>
                                    <input ng-model="form.surrender.surrenderer">
                                </md-input-container>
                            </div>
                            <div class="item-text-wrap" style="font-size:12px;">
                                (policyholder's full names) choose to surrender this policy and fully understand the consequences of this decision.
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <div class="item-text-wrap" layout="vertical">
                                <span style="font-size:12px"> 2.2 I/We</span>
                                <md-input-container flex-gt-xs>
                                    <input ng-model="form.surrender.fromName">
                                </md-input-container>
                            </div>
                            <div class="item-text-wrap" style="font-size:12px;">
                                (policyholder's full names) request to transfer the funds to new/existing policy
                            </div>
                            <md-input-container flex-gt-xs>
                                <input ng-model="form.surrender.toName">
                            </md-input-container>
                        </div>
                        <hr>
                        <div layout-gt-xs="row">
                            <div class="col-md-4">
                                <strong>OR</strong>
                            </div>
                        </div>
                        <hr>
                        <div layout-gt-xs="row">
                            <div class="item-text-wrap" style="font-size:12px;">
                                <strong>
                                Surrender options for the following benefits(tick the selected box)<br>
                                Pelase note: Cancelling either one of the benefits listed below, the policy will still remain in force, with the remaining benefits.</strong>
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="form.surrender.highGrowthBenefit">High Growth benefit (only on CAL policies)</md-checkbox>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="form.surrender.pga">PGA (Stangen policies only)</md-checkbox>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="form.surrender.financial_protector">Financial Protector</md-checkbox>
                        </div>


                        <div layout-gt-xs="row">
                            <div class="item-text-wrap" style="font-size:12px;">
                                <strong>Note: For Corporate Medical Lifestyle - If there are remaining members the contract may not be surredered.</strong>
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <div class="item-text-wrap" style="font-size:12px;">
                                2.3 Reason for surrender:
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="form.surrender.reason_a">(a) Customer affordibility/Funds required</md-checkbox>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="form.surrender.reason_b">(b) Competition products offer better benefits/pricing</md-checkbox>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="form.surrender.reason_c">(c) On advice of financial adivser</md-checkbox>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="form.surrender.reason_d">(d) Consolidation of client's portfolio</md-checkbox>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="form.surrender.reason_e">(e) Negative service experience</md-checkbox>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="form.surrender.reason_f">(f) Product performance</md-checkbox>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="form.surrender.reason_g">(g) Moving to Stanlib</md-checkbox>
                        </div>
                        <div layout-gt-xs="row">
                            <md-checkbox ng-model="form.surrender.reason_h">(h) Other</md-checkbox>
                            <md-input-container>
                                <input ng-model="form.surrender.reason_other">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <hr>
            </form>
            <ul class="button-bar">
                <a class="button button-full button-positive" href="#/user/form/1">
                    <span class="glyphicon glyphicon-chevron-left"></span> Previous
                </a>
                <a class="button button-full button-positive" href="#/user/form/3">
                    Next
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </ul>
        </container-fuild>
    </ion-content>
</ion-view>