<ion-view title="Payment Request Form - Page 4">
    <ion-content padding="15" class="has-header">
        <container-fuild>
            <form>
                <div class="list ">
                    <a class="item item-divider item-icon-right " ng-click="toggle( 'declaration') ">
                        <i class="icon ion-plus "></i>
                        <span>Declaration</span>
                    </a>
                    <div id="declaration" ng-show="declaration">
                        <div layout-gt-xs="row">
                            <div class="item-text-wrap" style="font-size:12px">
                                I/We confirm that:
                            </div>
                            <md-input-container flex-gt-xs class="md-block">
                                <input ng-model="form.declaration.confirm">
                            </md-input-container>
                            <div class="item-text-wrap" style="font-size:12px;">
                                1. All parties that have a legal interes in this policy are solvent.<br> 2. I/we fully understand
                                the consequences of this decision. <br> 3. I/we are legally entitle to these funds, free
                                of any claim by any other party. <br> 4. I hereby agree that on payment of the policy proceeds
                                by Liberty, it is discharged from all laibitlity under the policy. <br> 5. <strong>Applicable to full surrenders only:</strong>                                I hereby confirm that I am fully surrendering my policy and have no furtherin it. I therefore
                                confirm that I hereby irrecovably make over all my rights, and interest in the policy to
                                the Millenium Individual Trust, or any assign or nominee or person that Liberty duly appoints.
                                <br> 6. The advance granted will be subject to Liberty's practice and advance payment rules
                                from time and agree to be bound thereby. <br> 7. I hereby confirm that I am fully aware of
                                the implication of taking an advance on my policy, and that I was provided with a What-If-Qoute
                                to illustrate the reduction in values/growth of my benefits. (Only application on non-bearing
                                advance payments)
                            </div>
                        </div>
                        <div layout-gt-xs="row ">
                            <div class="col-md-12 col-sm-12">
                                <label> Have you invested in a way new policy in last 4 months?</label>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <md-checkbox ng-model="form.declaration.invest_4months_yes">Yes</md-checkbox>
                                <md-checkbox ng-model="form.declaration.invest_4months_no">No</md-checkbox>
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>If "No ", do you intend to invest in a new ploicy in the near future?</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <md-checkbox ng-model="form.declaration.investFuture_yes">Yes</md-checkbox>
                                <md-checkbox ng-model="form.declaration.investFuture_no">No</md-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label>If "Yes ", please specify with which company?</label>
                                    <input ng-model="form.declaration.company">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label"> Signed at</label>
                                <input ng-model="form.declaration.company_signedAt">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label"> on </label>
                                <input ng-model="form.declaration.company_signedDate">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Signature of policyholder/legally authorised representative/legal gaurdian/cessionary</label>
                                <input ng-model="form.declaration.signature_policyholder1">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Name and capacity</label>
                                <input ng-model="form.declaration.signature_policyholderName1">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Signature of policyholder/legally authorised representative/legal gaurdian/cessionary</label>
                                <input ng-model="form.declaration.signature_policyholder2">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Name and capacity</label>
                                <input ng-model="form.declaration.signature_policyholderName2">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Signature of policyholder/legally authorised representative/legal gaurdian/cessionary</label>
                                <input ng-model="form.declaration.signature_policyholder3">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Name and capacity</label>
                                <input ng-model="form.declaration.signature_policyholderName3">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <div class="item-text-wrap" style="font-size:12px;">
                                If signing on behalf of the policyholder, plesae advise capacity and provide the substantiating documentation
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="list">
                    <a class="item item-divider item-icon-right " ng-click="toggle( 'requirements') ">
                        <i class="icon ion-plus "></i>
                        <strong>Requirements (Sould Liberty require any additional requirements you will be notified accordingly.)<strong>
                    </a>
                    <table class="table table-striped" ng-show="requirements">
                        <tbody>
                            <tr class="item-text-wrap">
                                <td><strong>Indiviual<strong></td>
                                <td>
                                    <ul>
                                        <li>Clear copy of bar-coded ID/copy of back and fron of the ID smart card</li>
                                        <li>Proof of account in the name of the member not older than 3 months</li>
                                        <li>Natural Person - FICA Requirements Form</li>
                                        <li>Proof of residential address not older than 3 months (acceptable documents may be found on the FICA standard form)</li>
                                        <li>Co-habitant Form and clear copy of bar-coded ID copy back and front of the ID smart card for property owner should the residential address not be in the name of the policy holder</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Minor (child Under the Age of 18)</strong></td>
                                <td>
                                    <ul>
                                        <li>Form must be signed by both parents/legal gaurdian</li>
                                        <li>Birth certificate/copy of identy document of mior.</li>
                                        <li>Clear copy of bar-coded ID/Copy of back and front of ID smard card for both parents/legal
                                            gaurdian
                                        </li>
                                        <li>Natural - FICA Reuirements Form for minor and parenrs/legal gaurdian</li>
                                        <li>Proof of residential address not older than 3 months (acceptable documents may be found on
                                            the FICA standard form)</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Company or when ceded to Company</strong></td>
                                <td>
                                    <ul>
                                        <li>CM 1 or COR 14.1 (certifivcate of incorparation)</li>
                                        <li>CM 22 or COR 21 (notice of registration office & postal address of company)</li>
                                        <li>CM 29 or OCR 39 (company registration document)</li>
                                        <li>Name change document document where applicable (CM9)</li>
                                        <li>Company resolution on their leterhead signed by all directors giving certain directors
                                            authority to sign on their behalf if not all directors, managing directors or company
                                            secretary have signed the Payment Request Form</li>
                                        <li>Clear copy of bar-coded ID/Copy of back and front of the ID smart card for all directors</li>
                                        <li>Proof of account in the company name not older than 3 months</li>
                                        <li>Close Corporation - FICA Requirements Form</li>
                                        <li>
                                            Any ONE of the following(not older than 3 months) provided it reflects the name and physcial address of the Close COrporation
                                            <ul>
                                                <li>Utiltiy bil/Rates and taxes</li>
                                                <li>Bank Statement</li>
                                                <li>Rental Agreement</li>
                                                <li>Short term insurance contract document/schedule</li>
                                                <li>Body corporate accoun/levy</li>
                                                <li>Latest tax return</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Close Corporation(CC) or when ceded to CC</strong></td>
                                <td>
                                    <ul>
                                        <li>CK1(registration documents)</li>
                                        <li>CK2 (name or membership change document if applicable</li>
                                        <li>Resolution letter on a company letterhead signed by all CC members: If all members are
                                            not signing the Payment Request Form</li>
                                        <li>Clear copy of bar-coded ID/Copy of back and fornt of the ID smart card for all members</li>
                                        <li>Proof of account in the CC's name not older than 3 months</li>
                                        <li>Close Corporation - FICA Requirements Form</li>
                                        <liv>Any ONE of the following (not older than 3 monthss) provided it reflects the name and
                                            physical address of the CLose Corporation
                                            <ul>
                                                <li>Utiltiy bil/Rates and taxes</li>
                                                <li>Bank Statement</li>
                                                <li>Rental Agreement</li>
                                                <li>Short term insurance contract document/schedule</li>
                                                <li>Body corporate accoun/levy</li>
                                                <li>Latest tax return</li>
                                            </ul>
                                        </liv>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Trust or when ceded to Trust</strong></td>
                                <td>
                                    <ul>
                                        <li>
                                            Letters of Authority(if registered inside South Africa). <br> If trust is creatd
                                            outside South Africa, an official document reflecting same particulars issued by
                                            an authority in the country where the trust is created which administraters or oversee
                                            laws relating to trust in that country.
                                        </li>
                                        <li>Resolution letter signed by all trustees if all the Trustees do not sign the Payemtn
                                            Reuquest Form</li>
                                        <li>Trust Deed showing quorum necessary to sign on behalf of the Trust</li>
                                        <li>Clear copy of bar-coded ID/Copy of back and fornt of the ID smart card for each of the
                                            trustees, founders and beneficiaries named in the Trust</li>
                                        <li>Proof of account in the Trust name not older than 3 months</li>
                                        <li>Death certificate where Founder, Trustee or Beneficiary of Trust is deceased</li>
                                        <li>Trusts - FICA Requirements. The details of each of the trustees, founders, and beneficiaries
                                            named in the Trust must be completed in full on the form</li>
                                        <liv>Full residential/physical addresses (not older than 3months) must be submitted for each
                                            of the Trustees</liv>
                                        <liv>Resolution Mandate authorising the mandate officials to establish the business relationship</liv>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="list ">
                    <a class="item item-divider item-icon-right " ng-click="toggle( 'branch_clerk') ">
                        <i class="icon ion-plus "></i>
                        <span>Branch clerk declaration (When submitted by a regional office)</span>
                    </a>
                    <div id="branch_clerk " ng-show="branch_clerk ">
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <div class="item-text-wrap" style="font-size:12px">
                                    I, (full names)
                                </div>
                                <input ng-model="form.branch_clerk.name ">
                                <div class="item-text-wrap" style="font-size:12px;">
                                    declares that the above information is a true reflection of the information provided by the policyholder, and the Payment
                                    Request is completed in full.<br> All the requirements,
                                    as mentionedabove, are attached to this form and are clear and legible documents with
                                    no alterations.
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block">
                                <div class="item-text-wrap" style="font-size:12px">
                                    I further delcare that the policyholder
                                </div>
                                <!--<label>If "Yes ", please specify with which company?</label>-->
                                <input ng-model="form.branch_clerk.policyholder">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <div class="item-text-wrap" style="font-size:12px">
                                    has identified him/herself by means of a valid ID document with ID Number (copy attached)
                                </div>
                                <!--<label>If "Yes ", please specify with which company?</label>-->
                                <input ng-model="form.branch_clerk.id">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label ">Signed At </label>
                                <input ng-model="form.branch_clerk.signedAt ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <label class="col-sm-2 control-label "> on </label>
                                <input ng-model="form.branch_clerk.signedDate ">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.branch_clerk.signature ">
                                <label class="col-sm-2 control-label "> Siganture of branch clerk </label>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row ">
                            <md-input-container flex-gt-xs class="md-block ">
                                <input ng-model="form.branch_clerk.branch ">
                                <label class="col-sm-2 control-label "> Branch </label>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <hr>
            </form>
            <ul class="button-bar">
                <a class="button button-full button-positive" href="#/user/form/3">
                    <span class="glyphicon glyphicon-chevron-left"></span> Previous
                </a>
                <a class="button button-full button-positive">
                    Submit
                    <span class="glyphicon glyphicon-send"></span>
                </a>
            </ul>
        </container-fuild>
    </ion-content>
</ion-view>