<ion-view title="Payment Request Form - Page 1">
    <ion-content padding="15" class="has-header">
        <container-fuild>
            <form>
                <div class="list">
                    <a class="item item-divider item-icon-right" layout-fill ng-click="toggle('personal')">
                        Personal details(Policyholder is the owner of policy)
                        <i class="icon ion-plus"></i>
                    </a>
                    <div id="personal_details" ng-show="personal_details" class="item">
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">Policy Number/s</label>
                                <input ng-model="form.policyNumber">
                            </md-input-container>
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">Full Name</label>
                                <input ng-model="form.names" required>
                            </md-input-container>
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">Cessionary(if applicable)</label>
                                <input ng-model="form.cessionery">
                            </md-input-container>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">ID Number</label>
                                    <input ng-model="form.id">
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Tax Number</label>
                                    <input ng-model="form.taxNumber">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Tel (H)</label>
                                    <input ng-model="form.tel_h">
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Tel (W)</label>
                                    <input ng-model="form.tel_w">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Cell</label>
                                    <input ng-model="form.cell">
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Fax</label>
                                    <input ng-model="form.fax">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">Email</label>
                                <input ng-model="form.email" required>
                            </md-input-container>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">Physical Address</label>
                                    <textarea ng-model="form.physical_address"></textarea>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container flex-gt-xs class="md-block">
                                    <label class="col-sm-2 control-label">code</label>
                                    <input ng-model="form.physical_address_code">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <md-input-container>
                                    <label class="col-sm-2 control-label">Postal Address</label>
                                    <textarea ng-model="form.postal_address"></textarea>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container>
                                    <label class="col-sm-2 control-label">code</label>
                                    <input ng-model="form.postal_code">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="item-text-wrap" style="font-size:10px">
                        <label>FAIS</label><br> This acronynym for Financial Advisory and
                        Intermediary Services (FAIS) - Act 37 of 2002. The purpose of this Act is to consumers and regulates
                        the business of Financial Service Providers, by provding you with enough information to make an informed
                        decison
                    </div>
                </div>
                <hr>
                <div class="list">
                    <a class="item item-divider item-icon-right" ng-click="toggle('financial')">
                        <span>Financial adviser details</span>
                        <i class="icon ion-plus"></i>
                    </a>
                    <div id="financial_details" class="item item-text-wrap"" ng-show="financial_details">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="item-text-wrap" style="font-size:10px">
                                    <strong>Only to be completed if financial adviser assisted the policyholder/s with the completion of this form.</strong>
                                </div>
                            </div>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label class="col-sm-2 control-label">Full Names</label>
                                <input ng-model="form.adviser.names">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label>Commission code</label>
                                <input ng-model="form.adviser.comm_code">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label>Email</label>
                                <input ng-model="form.adviser.email">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <label>Contact number</label>
                                <input ng-model="form.adviser.contact">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container flex-gt-xs class="md-block">
                                <input ng-model="form.adviser.signature">
                                <label>Signature of financial adviser</label>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <hr>
            </form>
            <a class="btn btn-lg btn-primary btn-block" href="#/user/form/2">
                Next &nbsp;
                <span  class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </container-fuild>
    </ion-content>
</ion-view>